.hinata {
    background-color: #BAECFF;
    min-height: 100%;
}

.home-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.category {
    color:white;
    background-color: #FFB800;
    width:220px;
    margin:20px auto;
    font-weight:bold;
    font-size: 30px;
    border-radius: 100px;
}

.title {
    width: 300px;
    height: 300px;
    margin: 30px auto 70px auto;
    border-radius: 50%;
    background-color: #FFB800;
    color: white;
    text-align: center;
    line-height: 63px;
    font-size: 40px;
    font-weight: bold;
}

button {
    border-radius: 100px;
    color: white;
    background-color: #FFB800;
    padding: 7px 20px;
    margin: 10px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
} 

.btn1 {
    background-color: #00B8FF;
    font-size: 20px;
    width: 320px;
    height: 80px;
}

#fibon {
    margin-top: 35px;
    padding-bottom: 10px;
}

.question {
    font-weight: bold;
    background-color: white;
    width: 350px;
    margin: 0 auto;
    border-radius: 30px;
}

.question div:first-child {
    margin: 0 0 0 auto;
    width: fit-content;
    font-size: 25px;
    padding: 15px;
}

.question h2{
    font-size: 30px;
    span {
        display: inline-block;
    }
}