.hinata {
    background-color: #BAECFF;
    min-height: 100%;
}

.homeButton {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-bottom: 30px;
}


.title {
    width: 300px;
    height: 300px;
    margin: 0px auto 70px auto;
    border-radius: 50%;
    background-color: #FFB800;
    color: white;
    text-align: center;
    line-height: 63px;
    font-size: 40px;
    font-weight: bold;
}

button {
    border-radius: 100px;
    color: white;
    background-color: #FFB800;
    padding: 7px 20px;
    margin: 10px 0px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
} 

.btn1 {
    background-color: #00B8FF;
    font-size: 20px;
    width: 320px;
    height: 80px;
}